@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    margin: 0;
    padding: 0;
    
}
.slider-container{
    width: 100%;
    min-height: 600px;
    position: relative;
}
.slider-img{
    position: relative;
    width: 100%;
    height: 650px;
}
.slider-img::before{
    content: '';
    width: 100%;
    height: 650px;
    background: linear-gradient(79deg, rgba(17,29,92,0.25843840954350494) 6%, rgba(38,133,249,0.40689779329700626) 100%);
    position: absolute;
    top: 0;
    left: 0;
    
}
.my-dd{
    position: absolute;
    top: 50px;
    border-top: 4px solid var(--primary-clr);
    transition: 0.3s;
    border-radius: 0;
    z-index: 1;
}
.dropdown-item{
    padding: 10px 8px;
    transition: 0.5s;
    font-size: 14px;
}
.dropdown-item:hover{
    background-color: var(--primary-clr);
    color: white;
    padding: 10px 8px;
}
body,html{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    position: relative;
    
}
:root{
    --navbar-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --primary-clr:#2685F9;
    --secondary-clr:#111d5c;
    --secondary-dark:#0c164c;
}
.clr{
    color: var(--primary-clr);
}
.my-nav{
    width: 100%;
    padding: 7px 0px;
    background-color: white;
    box-shadow: var(--navbar-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.linkedin a{
    background-color: var(--primary-clr);
    padding: 8px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;

}
.linkedin i{
    font-size: 25px;
   
}
.navbar-brand{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-brand h4{
    color: var(--primary-clr);
    margin-bottom: 0;
}
.navbar-brand img{
   
    height: 40px;
    
}
.hero-image{
    width: 100%;
    height: 100vh;
    background-image:
         url(/public/assets/images/bg-hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}
.navbar-nav .nav-item{
    padding: 0 15px;
}
.nav-item .nav-link{
    color: var(--secondary-dark) !important;
    font-size: 1.2rem;
    font-weight: 500;
   
}
.active{
    color: var(--secondary-clr)!important;
}
.bg-btn{
    background-color: var(--primary-clr);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    color: white;
    border-radius: 1px;
    font-weight: 500;
}
.outline-btn{
    border: 1px solid var(--primary-clr);
    outline: none;
    cursor: pointer;
    padding: 9px 25px;
    color: var(--primary-clr);
    border-radius: 1px;
    font-weight: 500;
    transition: 0.3s;
    background-color: white;
}
.outline-btn:hover{
    color: white;
    background-color: var(--primary-clr);
}
.hero-section h6{
    font-size: 1.2rem;
    font-weight: 400;
}
.hero-section h1{
    font-size: 3.5rem;
}
/* Cart */
.c-icon span{
    background-color: #c0dcfd;
    width: 70px;
    height: 70px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-clr);
    font-size: 20px;
    margin-bottom: 20px;
}
.c-icon{
    width: 100%;
    height: 455px;
    border: 1px solid var(--primary-clr);
    padding: 20px;
    
    box-shadow: var(--navbar-shadow);
    position: relative;
}
.c-icon::before{
    content: '';
    width: 100%;
    height: 0px;
    background-color: var(--secondary-clr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease-in-out;
}
.c-icon:hover::before{
    height: 100%;
    z-index: -1;
}
.card-title h5{
    color: var(--primary-clr);
}
.card-title p{
    font-size: 14px;
}
.learn-more-btn{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
/* Cart End */

/* Service Section */
.service-section-image{
    width: 100%;
    height: 500px;
}
.service-section-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-section-content{
    width: 100%;
    height: 500px;
    background-color: var(--secondary-dark);
    padding: 50px;
}
.service-section-content p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
.section-list{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.section-icon i{
    font-size: 13px;
}
.section-list .section-text span{
    color: white;
    font-size: 13px;
}
/* Service Section End */
/* Profile */
.profile-container{
    width: 100%;
    background-color: #b9d8fd3a;
    z-index: -2;
}
.profile-image{
    width: 100%;
    position: relative;
}
.profile-image img{
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--navbar-shadow);
}
.profile-image::before{
    content: '';
    width: 70px;
    height: 70px;
    background-color: var(--primary-clr);
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
    border-radius: 5px;
}
.profile-image::after{
    content: '';
    width: 150px;
    height: 150px;
    background-color: var(--secondary-clr);
   border-radius: 5px;
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: -1;
}
.profile-about p{
    font-size: 14px;
}

/* Profile end */
/* Inner BG */
.inner-header{
    width: 100%;
    height: 400px;
    background-image: url(/public/assets/images/breadcrumb-bg.jpg);
    position: relative;
}

.inner-header::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(16, 2, 95, 0.7);
   
}
.breadcrumb{
    padding-left: 0 !important;
    background: none !important;

}
.breadcrumb .active{
    color: lightgray !important;
}
.inner-header-text{
    width: 100%;
}
.inner-header-text h1{
    text-align: center;
    font-size: 2.5rem;
    position: relative;
}
.inner-header-text h1::after{
    content: '';
    width: 100px;
    height: 4px;
    background-color: var(--primary-clr);
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
}
/* Cards */
.cards-container{
    width: 100%;
    padding: 50px 0;
    background-color: #f5f8fb;
}
.cards{
    width: 100%;
    height: 180px;
    border: 1px solid var(--primary-clr);
    padding: 20px 10px;
   position: relative;
   background-color: white;
   margin-bottom: 30px;
   display: flex;
  

}

.cards::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-clr);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: width 0.3s;
}

.cards:hover::after{
    width: 100%;

}
.cards:hover .go-btn button{
    background-color: var(--primary-clr);
    color: white;
}
.cards-icon i{
    color: var(--primary-clr);
    font-size: 25px;
    margin-bottom: 10px;
    
}
.cards-title h5{
    color: #444;
}
.cards-para p{
    color: gray;
    font-size: 14px;
}
.go-btn button{
    background-color: white;
    padding: 3px 10px;
    outline: none;
    border: 1px solid var(--primary-clr);
    color: var(--primary-clr);
    position: absolute;
    bottom: 20px;
    left: 50px;
    transition: 0.3s;
}
/* Cards  End */
/* Contact */
.contact-box{
    width: 100%;
    height: 250px;
    background-color: white;
    position: relative;
    box-shadow: var(--navbar-shadow);
    position: relative;
}
.contact-box::after{
    content: '';
    width: 80%;
    height: 2px;
    background-color: var(--primary-clr);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contact-box-inner{
    padding: 40px;
    text-align: center;
}
.contact-box-inner p{
    color: #444;
    font-size: 17px;
}
.contact-box-inner i{
    color: var(--primary-clr);
    font-size: 4.5rem;
    margin-bottom: 40px;
}
.map-box{
    width: 100%;
    height: 400px;
    background-color: var(--secondary-dark);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--navbar-shadow);
}
.contact-form{
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: var(--navbar-shadow);
    padding: 20px;
}
.form-input input{
    width: 100%;
    outline: none;
    border: 1px solid lightgray;
    padding: 12px 10px;
    margin-bottom: 30px;
}
.form-input input::placeholder{
    font-size: 14px;
    
}
.form-input textarea{
    width: 100%;
    border: 1px solid lightgray;
    padding: 12px 10px;
    margin-bottom: 30px;
}
/* Contact End */

/* About Us */
.history-left {
    width: 100%;
    height: 500px;
    position: relative;
}
.history-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.history-text-box{
    background-color: white;
    width: 100%;
    height: 500px;
    box-shadow: var(--navbar-shadow);
}
.history-header{
    width: 100%;
    min-height: 70px;
    background-color: var(--primary-clr);
    padding: 10px 40px;
}
.history-header p{
    margin: 0;
    color: #f0f0f0;
    font-size: 14px;
}
.history-inner{
    padding: 20px 40px;
}
.history-inner-header{
    width: 100%;
    min-height: 50px;
    padding-left: 30px;
    border-left: 3px solid var(--primary-clr);
}
.history-inner-content{
    margin-top: 20px;
}
.history-inner-content p{
    font-size: 14px;
    color: gray;
}
.what-we-offer{
    width: 100%;
}
.what-we-offer h6{
    background-color: var(--primary-clr);
    display: inline-block;
    padding: 6px 15px;
    color: white;
    border-radius: 1px;
}
.what-we-offer h3{
    margin: 10px 0px;
}
.what-we-offer p{
    color: gray;
    font-size: 14px;
    margin-bottom: 0;
}
.offer-services{
    margin-top: 20px;
}
.offer-list{
    display: flex;
    gap: 10px;
    align-items: center;
}
.offer-icon span{
    width: 30px;
    height: 30px;
    background-color: var(--primary-clr);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
   .offer-list{
    margin-bottom: 20px;
}
.offer-image img{
    width: 100%;
    min-height: 400px;
}
.about-us{
    width: 100%;
    background-color: white;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: var(--navbar-shadow);
}
.about-us h2{
    margin-bottom: 15px;
}
.about-us p{
    color: gray;
    line-height: 30px;
    font-size: 14px;
    
}
.about-us1{
    width: 100%;
    background: linear-gradient(to bottom, #2685F9 50%, #2685F9 50%, #ffffff 50%, #fff 50%);
}
/* Home Contact */
.home-contact{
    width: 100%;
    height: 350px;
    padding: 110px 0px;
    background-image: url(/public/assets/images/bg2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.home-contact::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(6,34,65, 0.85) none repeat scroll 0 0;
    content: "";
}
.home-contact-text{
    color: white;
}
.home-contact-icon-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.home-contact-icon span{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    background-color: var(--primary-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.home-contact-text p{
    margin-bottom: 0;
}
.home-contact-icon-box{
    margin-bottom: 30px;
}

/* Home Contact End */
/* Count Start */
.count-image-box{
    width: 100%;
    height: 500px;
   position: relative;

}
.count-image-box::before{
    content: '';
    width: 400px;
    height: 400px;
    background-color: #c4ddfc;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
}
.count-image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.counts{
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}
.counts i{
    color: var(--primary-clr);
    font-size: 50px;
    margin-bottom: 15px;
}
.counts h1{
    color: #444;
}
.counts p{
    font-size: 18px;
}
/* Count End */
/* Footer */
.footer{
    width: 100%;
    min-height: 300px;
    padding: 50px 0px;
    background-color: var(--secondary-clr);
}
.footer-bottom{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: var(--secondary-dark);
    color: white;
}
.footer-bottom p{
    margin: 0;
    line-height: 50px;
    font-size: 14px;
    color: var(--primary-clr);
}
.about p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 300;
}
.footer-line{
    width: 100px;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.footer-line::before{
    content: '';
    width: 30px;
    height: 5px;
    border-radius: 20px;
    background-color: var(--primary-clr);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}
.footer-link .nav-item{
    list-style: none;
    transition: 0.3s;
    
}
.footer-link .nav-item .nav-link{
    color: rgba(255, 255, 255, 0.6) !important;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    transition: 0.3s;
}
.footer-link .nav-item .nav-link:hover{
   color: var(--primary-clr) !important;
   text-decoration: underline;
}
.address-list{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}
.address-icon i{
    color: var(--primary-clr);
    margin-top: 5px;
}
.address-text span{
    color: rgba(255, 255, 255, 0.6) !important;
    font-size: 13px;
    font-weight: 400;
}
.footer-subscribe input{
    width: 70%;
    padding: 8px 15px;
    
}
.footer-subscribe input:focus{
    outline: 1px solid var(--rp);
}
.footer-subscribe{
    position: relative;
    width: 80%;
}
.subscribe-btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* Footer End */
.primary-hr{
    width: 100px;
    height: 3px;
    background-color: var(--primary-clr);
   
}
.dev-dark{
    width: 100%;
    background-color: var(--secondary-dark);
    background-image: url(https://mkt-cdn.dynatrace.com/assets/Marketing/section-backgrounds/devops-background-2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dev-dark-img{
    width: 100%;
    height: 400px;
    
}
.dev-dark-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
}
.dev-dark-img img::before{
    content:'';
    width: 100%;
    height: 100%;
    background-color: var(--primary-clr);
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: 1;

}
.data-progress-box{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow: var(--navbar-shadow);
    border-radius: 5px;
    margin-bottom: 30px;
    
}
.data-percentage span{
    width: 60px;
    height: 60px;
    background-color: var(--secondary-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-size: 14px;
}
.data-progress-line{
    width: 400px;
    height: 3px;
    background-color: lightgray;
    position: relative;
    border-radius: 4px;
}
.data-progress-line::before{
    content: '';
    width: 65%;
    height: 3px ;
    background-color: var(--primary-clr);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 4px;
}
.data-box{
    width: 100%;
    background-color: white;
    box-shadow: var(--navbar-shadow);
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 30px;
}
.data-img2{
    width: 100%;
    height: 250px;
}
.data-img2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.data-box-content{
    margin-top: 0px;
}
.data-box-content h6{
    font-size: 1.4rem;
    color: var(--secondary-clr);
}
.data-box-content p{
    margin-bottom: 0;
    color: gray;
    font-size: 14px;
}
.app-text h6{
    margin-bottom: 20px;
}
.app-text h3{
    font-size: 2.5rem;
}
.process-image-new img{
    border-radius: 5px;
    box-shadow: var(--navbar-shadow);
}
.process-nm span{
    width: 80px;
    height: 80px;
    background-color: var(--secondary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-clr);
    font-size: 2rem;
    margin-bottom: 20px;

}
.process-content-text p{
    color: gray;
    font-size: 15px;
}
.tech-test p{
    font-size: 14px;
    margin-top: 10px;
    color: gray;
}
.tech-point-list{
    margin-bottom: 15px;
}
.tech-point-list li{
    list-style: none;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.tech-point-list li i{
    color: var(--primary-clr);
    font-size: 20px;
}
.tech-img{
    position: relative;
}
.tech-img img{
    border-radius: 5px;
    box-shadow: var(--navbar-shadow);
}
.tech-img-before{
    width: 350px;
    height: 100px;
    padding: 15px;
    background-color: #2685f9c7;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}
.tech-img-before p{
   color: white;
   font-size: 20px;
    margin: 0;
    
}